body {
	margin: 0;
	font-family: roboto;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0;
	/* Remove scrollbar space */
}

.navbar {
	color: white;
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}

.about{
	text-align: center;
	font-size: 4vh;
}

.wrapper {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	height: 100vh;
	min-width: 360px;
	width: 100%;
	display: flex;
	justify-content: center;  
	align-items: center;
	
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* {
  animation: scroll 70s linear infinite;
  background: url("https://i.picsum.photos/id/135/2560/1920.jpg?hmac=MAh0eBIqBNEgND6D2vgcIBIQ4BE1jzewN1QQWDfBBEY"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}*/

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

/*snap scroll
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
	overflow: auto;
	scroll-snap-type: y mandatory;

}

.section {
	width: 100%;
	height: 100vh;
	background-size: cover;
	scroll-snap-align: start;
}

.section:nth-child(1) {}*/