body {
	margin: 0;
	font-family: "Limelight", sans-serif;
	text-rendering: optimizeLegibility;overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}
.navbar {
	z-index: 100;
	background-color: wheat;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
  }
  

/*snap scroll*/
.container2 {
	position: relative;
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
	overflow: auto;
	scroll-snap-type: y mandatory;
  
  }
  .section {
	width: 100%;
	height: 100vh;
	background-size:  cover;
	scroll-snap-align: start;
  }
  .section:nth-child(1) {
  }